<ul class="pagination">
    @{
        int numberPage = ViewBag.numberPage;
        int pageCurrent = ViewBag.pageCurrent;
        int offset = 2;
        if (pageCurrent > 1)
        {
            int prevPage = pageCurrent - 1;
            var PrevLink = new Dictionary<string, string> { { "page", prevPage.ToString() } };
            <li class="page-item"><a asp-controller="@ViewData["ControllerName"]" asp-action="Index" asp-all-route-data="PrevLink" class="page-link">Prev Link</a></li>
        }
        int from = pageCurrent - offset;
        int to = pageCurrent + offset;
        if (from <= 0)
        {
            from = 1;
            to = offset * 2;
        }
        if (to > numberPage)
        {
            to = numberPage;
        }
        int i;
        for (i = from; i <= to; i++)
        {
            var parms = new Dictionary<string, string>
{
                        { "page",i.ToString()}
                    };
            if (pageCurrent == i)
            {
                <li class="page-item active"><a asp-controller="@ViewData["ControllerName"]" asp-action="Index" asp-all-route-data="parms" class="page-link">@i</a></li>
            }
            else
            {
                <li class="page-item"><a asp-controller="@ViewData["ControllerName"]" asp-action="Index" asp-all-route-data="parms" class="page-link">@i</a></li>
            }
        }
        if (pageCurrent < numberPage - (to / 2))
        {
            <li class="page-item"><a class="page-link">...</a></li>
            var LastLink = new Dictionary<string, string> { { "page", numberPage.ToString() } };
            <li class="page-item"><a asp-controller="@ViewData["ControllerName"]" asp-action="Index" asp-all-route-data="LastLink" class="page-link">Last Link</a></li>
        }
        if (pageCurrent < numberPage)
        {
            int nextPage = pageCurrent + 1;
            var NextLink = new Dictionary<string, string> { { "page", nextPage.ToString() } };
            <li class="page-item"><a asp-controller="@ViewData["ControllerName"]" asp-action="Index" asp-all-route-data="NextLink" class="page-link">Next Link</a></li>
        }
    }
</ul>